#dashboard-wrapper {
  width: 90%;
}

.page-header h2 {
  margin-top: 0;
}

table tr td:last-child a {
  margin-right: 15px;
}

body {
  font: 14px sans-serif;
}

body {
  font: 14px sans-serif;
  text-align: center;
}

.wrapper {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.filter-container-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter-container-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter-container-3 div{
  width: 30% !important;
}

.filter-container-4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.filter-container-4 div{
  width: 30% !important;
}

th {
      text-align: center !important;
  }

.filter-column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
